@model List<Quotation>
<div class="container">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Quotation List</h2>
        </div>
        <div class="col-6 text-end p-4">
            <a asp-controller="Quotation" asp-action="CreateQuotation" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create
            </a>
        </div>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Supplier Name</th>
                <th>Products</th>
            </tr>
        </thead>
        <tbody>
            @{
                var groupQuotation = Model.GroupBy(x => x.SupplierId);
            }
            @foreach (var group in groupQuotation)
            {
                var items = group.OrderByDescending(x => x.SupplierId).OrderBy(a => a.Product);

                foreach(Quotation item in items)
                {
                    <tr>
                        @if(item == items.First())
                        {
                            <td rowspan="@group.Count()">@group.First().Supplier.Name</td>
                        }
                        @if(item.CostPerUnit != null)
                        {
                            <td>
                                @item.Product: $@item.CostPerUnit
                                <a asp-controller="Quotation" asp-action="Preview" asp-route-QuotationId="@item.QuotationId" class="btn btn-primary mx-2">
                                    <span>Show</span>
                                </a>
                                <a asp-controller="Quotation" asp-action="Update" asp-route-QuotationId="@item.QuotationId" class="btn btn-primary mx-2">
                                    <span>Edit</span>
                                </a>
                                <a asp-controller="Quotation" asp-action="Delete" asp-route-QuotationId="@item.QuotationId" class="btn btn-primary mx-2">
                                    <span>Delete</span>
                                </a>
                            </td>
                        }
                    </tr>
                }
            }
            
        </tbody>
    </table> 
</div>
