@model List<DbSupplier> 
<div>
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Supplier List</h2>
        </div>
        <div class="col-6 text-end p-4">
            <a asp-controller="Home" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Create
            </a>
            <a asp-controller="Home" asp-action="ExportToCSV" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> Export
            </a>
        </div>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Country</th>
                <th>DateCreated</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderByDescending(a => a.Name).OrderByDescending(c => c.DateCreated).OrderBy(x => x.CountryCode))
            {
                <tr>
                    <td>@obj.Name</td>
                    <td>@obj.Email</td>
                    <td>@obj.CountryCode</td>
                    <td>@obj.DateCreated.ToString("dd-MMM-yyyy")</td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Home" asp-action="Update" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <span>Update</span>
                            </a> 
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-controller="Home" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                                <span>Delete</span>
                            </a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>